<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>AIssist</title>
</head>
<body class="light-mode">
    <header class="menu-superior">
        <h1>AIssist</h1>
        <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cadastro</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Ajuda</a></li>
            <li><img src="#" alt=""></li>
        </ul>

    </header>
</body>
</html>