<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <title>AIssist</title>
  </head>
  <body class="light-mode">
    <header class="menu-superior">
      <h1>AIssist</h1>
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Ajuda</a></li>
        <li>
          <a href="#" id="theme-toggle" class="button-theme"
            ><img src="static/images/toggle-mode.svg" alt="" height="25" />
          </a>
        </li>
      </ul>
    </header>
    <div class="hero">
      <h1>Organize o seu dia de forma Inteligente!</h1>
    </div>
    <div class="content">
      <div class="content-one">
        <img src="static/images/caderno.svg" alt="" />
      </div>
      <div class="content-two">
        <h2>
          Planeje suas atividades e tarefas diárias, acompanhe o seu progresso e
          receba sugestões personalizadas para melhorar a sua rotina e bem
          estar.
        </h2>
        <button class="button"><a href="/register"> Comece Agora</a></button>
      </div>
    </div>
    <div class="functions">
      <h2>Principais Funcionalidades</h2>

    </div>
  </body>

  <script src="static/js/script.js"></script>
</html>
