<nav class="menu-superior">
    <h1>AIssist</h1>
  <ul>
    <li><a href="{{url_for('main.dashboard_route')}}">Inicio</a></li>
    <li><a href="{{url_for('main.tasks_route')}}">Tarefas</a></li>
    <li><a href="{{url_for('main.dashboard_route')}}">Habitos</a></li>
    <li><a href="{{url_for('main.dashboard_route')}}">Metas</a></li>
    <li><a href="{{url_for('main.dashboard_route')}}">Hobbies</a></li>
    <li><a href="{{url_for('main.dashboard_route')}}">Perfil</a></li>
    <li><a href="{{url_for('main.logout_route')}}">Logout</a></li>
    <li>
      <a href="#" id="theme-toggle" class="button-theme"
        ><img src="static/images/toggle-mode.svg" alt="" height="25" />
      </a>
    </li>
  </ul>
</nav>
